Repository Automattic/newspack-listings, pull requests merged in 2021-06, with the labels that each got.

#57 feat: new global setting and post option to hide publish dates
  includes/class-newspack-listings-core.php
  includes/class-newspack-listings-settings.php
  src/editor/sidebar/index.js
Labels: [Status] Approved, enhancement

#61 fix: use value property of selection from AutocompleteWithSuggestions
  src/blocks/listing/edit.js
Labels: [Status] Approved, bug

#64 fix: syncing attributes from curated list block to inner blocks
  src/blocks/curated-list/edit.js
  src/blocks/list-container/edit.js
  src/blocks/listing/edit.js
Labels: [Status] Approved, bug

#69 Release Jun 08
  src/blocks/curated-list/edit.js
  src/blocks/list-container/edit.js
  src/blocks/listing/edit.js
Labels: [Status] Approved

#67 feat: convert legacy terms
  includes/class-newspack-listings-core.php
Labels: [Status] Approved, enhancement

#60 test: init test suite
  .circleci/config.yml
  bin/install-wp-tests.sh
  includes/class-newspack-listings-blocks.php
  package.json
  phpunit.xml.dist
  tests/bootstrap.php
  tests/test-blocks.php
Labels: [Status] Approved, enhancement

#70 fix: PHP warning on plugin activation
  includes/class-newspack-listings-taxonomies.php
Labels: [Status] Approved, bug

#65 feat: support Newspack Sponsors for listings
  includes/class-newspack-listings-api.php
  includes/class-newspack-listings-core.php
  includes/newspack-listings-utils.php
  src/assets/shared/listing.scss
  src/blocks/curated-list/edit.js
  src/blocks/listing/edit.js
  src/blocks/listing/listing.js
  src/templates/listing.php
Labels: [Status] Approved, enhancement

#71 Update price block to use placeholder and large font size
  src/blocks/price/edit.js
  src/blocks/price/editor.scss
  src/blocks/price/index.js
  src/blocks/price/view.php
Labels: [Status] Approved

#73 fix: use synced attributes for ListContainer directly
  .distignore
  src/blocks/list-container/edit.js
Labels: [Status] Approved, bug

#66 fix: shadow taxonomy sidebar on post with no meta
  src/editor/shadow-taxonomies/index.js
Labels: [Status] Approved, bug

#58 feat: child and related listings UI
  includes/class-newspack-listings-api.php
  includes/class-newspack-listings-blocks.php
  includes/class-newspack-listings-taxonomies.php
  package-lock.json
  package.json
  src/blocks/curated-list/editor.scss
  src/editor/shadow-taxonomies/child-listings.js
  src/editor/shadow-taxonomies/index.js
  src/editor/shadow-taxonomies/parent-listings.js
  src/editor/shadow-taxonomies/style.scss
  src/editor/shadow-taxonomies/taxonomy-search.js
Labels: [Status] Approved, enhancement

#77 fix: default listings to one-column-wide.php post template
  includes/class-newspack-listings-core.php
  includes/newspack-listings-utils.php
Labels: [Status] Approved, bug

#79 Release Jun 22
  .distignore
  src/blocks/list-container/edit.js
Labels: [Status] Approved

#81 fix: memory leaks from legacy term utilities
  includes/class-newspack-listings-core.php
  includes/class-newspack-listings-taxonomies.php
  includes/importer/class-newspack-listings-importer.php
  includes/migration/class-newspack-listings-migration.php
  newspack-listings.php
Labels: [Status] Approved, bug
