Repository Automattic/newspack-listings, pull requests merged in 2021-07, with the labels that each got.

#83 fix: errors and bugs related to WP 5.8
  includes/class-newspack-listings-blocks.php
  src/assets/shared/listing.scss
  src/blocks/curated-list/editor.scss
  src/editor/utils.js
Labels: [Status] Approved, bug

#89 fix: editor errors with reusable blocks
  src/blocks/listing/listing.js
  src/editor/shadow-taxonomies/child-listings.js
  src/editor/shadow-taxonomies/parent-listings.js
Labels: [Status] Needs review, bug

#93 fix(wp-5.8): do not register post-specific sidebars in widgets page
  src/editor/index.js
Labels: [Status] Approved, bug

#95 fix: avoid meta sync update error
  includes/class-newspack-listings-core.php
Labels: [Status] Approved, bug

#97 feat: bump max number of items per list from 20 to 50
  src/blocks/curated-list/edit.js
  src/components/sidebar-query-controls.js
Labels: [Status] Approved, enhancement

#84 feat: more block patterns (real estate, classified ads)
  includes/class-newspack-listings-block-patterns.php
  src/assets/front-end/patterns.scss
  src/assets/front-end/view.scss
  src/assets/shared/patterns.scss
  src/editor/style.scss
Labels: [Status] Approved, enhancement

#101 Release Jul 19
  includes/class-newspack-listings-block-patterns.php
  includes/class-newspack-listings-core.php
  src/assets/front-end/patterns.scss
  src/assets/front-end/view.scss
  src/assets/shared/patterns.scss
  src/blocks/curated-list/edit.js
  src/components/sidebar-query-controls.js
  src/editor/index.js
  src/editor/style.scss
Labels: [Status] Approved

#103 feat: show classes for each category and tag on every listing
  includes/class-newspack-listings-core.php
  includes/newspack-listings-utils.php
  src/blocks/listing/listing.js
  src/editor/utils.js
  src/templates/listing.php
Labels: [Status] Approved, enhancement

#105 fix: satisfy DatePicker prop dependency
  src/blocks/event-dates/edit.js
Labels: [Status] Approved
