Repository Automattic/newspack-listings, pull requests merged in 2022-05, with the labels that each got.

#254 Release May 02
  CHANGELOG.md
  composer.json
  includes/class-featured.php
  newspack-listings.php
  package-lock.json
  package.json
  src/assets/shared/self-serve-listings.scss
  src/blocks/self-serve-listings/block.json
  src/blocks/self-serve-listings/edit.js
  src/templates/self-serve-form.php
  tests/test-featured.php
Labels: [Status] Approved

#257 feat: enable jetpack share buttons on listings
  includes/class-core.php
Labels: enhancement, [Status] Approved

#256 refactor: remove related listings functionality
  includes/class-api.php
  includes/class-blocks.php
  includes/class-settings.php
  includes/class-taxonomies.php
  includes/migration/class-migration.php
  newspack-listings.php
  src/editor/index.js
  src/editor/shadow-taxonomies/child-listings.js
  src/editor/shadow-taxonomies/index.js
  src/editor/shadow-taxonomies/parent-listings.js
  src/editor/shadow-taxonomies/style.scss
  src/editor/utils.js
Labels: [Status] Approved, refactor

#263 fix: restore Related Content settings section, but only if Jetpack Related Posts is on
  includes/class-settings.php
Labels: bug, [Status] Approved

#262 Release May 30
  CHANGELOG.md
  includes/class-api.php
  includes/class-blocks.php
  includes/class-core.php
  includes/class-settings.php
  includes/class-taxonomies.php
  includes/migration/class-migration.php
  newspack-listings.php
  package-lock.json
  package.json
  src/editor/index.js
  src/editor/shadow-taxonomies/child-listings.js
  src/editor/shadow-taxonomies/index.js
  src/editor/shadow-taxonomies/parent-listings.js
  src/editor/shadow-taxonomies/style.scss
  src/editor/utils.js
Labels: [Status] Approved
