Repository Automattic/newspack-listings, pull requests merged in 2022-01, with the labels that each got.

#164 chore(deps): implement dependabot auto-merge
  .github/workflows/auto-merge.yml
Labels: [Status] Approved, dependencies

#135 feat(ugc): handle self-serve purchase form submission
  includes/class-newspack-listings-block-patterns.php
  includes/class-newspack-listings-blocks.php
  includes/class-newspack-listings-core.php
  includes/class-newspack-listings-featured.php
  includes/class-newspack-listings-products.php
  includes/class-newspack-listings-settings.php
  includes/newspack-listings-utils.php
  src/assets/front-end/self-serve-listings.scss
  src/blocks/event-dates/editor.scss
  src/blocks/self-serve-listings/block.json
  src/blocks/self-serve-listings/edit.js
  src/blocks/self-serve-listings/view.php
  src/editor/index.js
  src/editor/sidebar/index.js
  src/editor/style.scss
  src/templates/self-serve-form.php
Labels: enhancement, [Status] Approved, [Status] Needs changes or feedback

#181 fix: minor bugfixes for featured and self-serve listings
  includes/class-newspack-listings-core.php
  includes/class-newspack-listings-featured.php
  includes/class-newspack-listings-settings.php
Labels: bug, [Status] Approved

#196 [URGENT] fix: a fatal error when self-serve listings env variable is not defined
  includes/class-newspack-listings-blocks.php
Labels: bug, [Status] Approved

#180 chore: update post-release job to pull changelog and semver changes to master
  .circleci/config.yml
  CHANGELOG.md
Labels: [Status] Approved

#183 chore: add CODEOWNERS file
  .github/CODEOWNERS
Labels: [Status] Approved

#202 Release Jan 18
  .circleci/config.yml
  .eslintrc.js
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .nvmrc
  .stylelintrc
  CHANGELOG.md
  babel.config.js
  composer.lock
  includes/class-newspack-listings-block-patterns.php
  includes/class-newspack-listings-blocks.php
  includes/class-newspack-listings-core.php
  includes/class-newspack-listings-featured.php
  includes/class-newspack-listings-products.php
  includes/class-newspack-listings-settings.php
  includes/newspack-listings-utils.php
  newspack-listings.php
  package-lock.json
  package.json
  postcss.config.js
  src/assets/front-end/self-serve-listings.scss
  src/blocks/curated-list/edit.js
  src/blocks/event-dates/edit.js
  src/blocks/event-dates/editor.scss
  src/blocks/listing/edit.js
  src/blocks/listing/listing.js
  src/blocks/price/edit.js
  src/blocks/self-serve-listings/block.json
  src/blocks/self-serve-listings/edit.js
  src/blocks/self-serve-listings/view.php
  src/components/sidebar-query-controls.js
  src/editor/featured-listings/index.js
  src/editor/index.js
  src/editor/shadow-taxonomies/child-listings.js
  src/editor/shadow-taxonomies/parent-listings.js
  src/editor/shadow-taxonomies/style.scss
  src/editor/sidebar/index.js
  src/editor/style.scss
  src/editor/utils.js
  src/templates/self-serve-form.php
Labels: [Status] Approved

#203 Post-release 1/19/2022
  CHANGELOG.md
  newspack-listings.php
  package-lock.json
  package.json
Labels: [Status] Approved

#204 chore: use newspack-scripts
  .circleci/config.yml
  .eslintrc.js
  .stylelintrc
  babel.config.js
  composer.json
  package-lock.json
  package.json
  src/assets/front-end/curated-list.js
  src/blocks/curated-list/edit.js
  src/editor/utils.js
  src/svg/list.js
  src/svg/newspack-logo.js
  webpack.config.js
Labels: [Status] Approved

#199 fix: prevent showing 0 for listings with no categories
  src/blocks/listing/listing.js
Labels: bug, [Status] Approved

#212 fix: require postcss explicitly
  package-lock.json
  package.json
Labels: [Status] Approved

#213 ci: fix post-release flow
  .circleci/config.yml
Labels: [Status] Approved
