Repository Automattic/newspack-listings, pull requests merged in 2023-03, with the labels that each got.

#337 fix: accommodate any valid date string in newspack_listings_expiration_date
  includes/class-core.php
  includes/class-featured.php
  includes/utils.php
Labels: bug, [Status] Approved

#338 fix: manually bump asset version so CI can pick it up again
  newspack-listings.php
Labels: bug, [Status] Approved

#340 Release Mar 01
  .circleci/config.yml
  CHANGELOG.md
  composer.json
  composer.lock
  includes/class-products.php
  includes/products/class-products-purchase.php
  includes/products/class-products-ui.php
  includes/products/class-products-user.php
  newspack-listings.php
  package-lock.json
  package.json
  postcss.config.js
  src/assets/shared/variables.scss
  src/editor/index.js
  tests/test-blocks.php
  tests/test-featured.php
Labels: [Status] Approved

#342 chore: update CI orb name
  .circleci/config.yml
Labels: [Status] Approved

#345 fix: remove unneeded editor CSS for Event Dates block
  src/blocks/event-dates/editor.scss
  src/blocks/event-dates/index.js
Labels: bug, [Status] Approved, WP 6.2
